<h4>GridSpace Plugin Settings</h4>
<form class="form-vertical" id="settings_plugin_gridspace_form">
	<div class="control-group">
		<label class="control-label">{{ _('OctoPrint Port') }}</label>
		<div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.gridspace.port"/>
		</div>
	</div>
</form>
